body{
    background-color: dimgray;
}

h1 {
    color: firebrick;
    padding-left: 400px;
}

h2{
    color: whitesmoke;
    padding-left: 400px;
}

h3{
    color: whitesmoke;
    padding-left: 375px;
}

img{
    padding-left: 300px;
}


